/* 

nie czytałem tego co tu jest wiec większosć klas jest pewnie 
do wyrzucenia

 */

#map { 
	width: auto;
	height: 100vh;
}
.marker {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
}
.asteriskField {
	color: red;
}
.Kulturowe::before {
	display: inline-block;
	content: "";
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url("https://i.ibb.co/Cb3TP27/obraz-2022-04-11-100333453.png");
}
.Sportowe::before {
	display: inline-block;
	content: "";
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url("https://i.ibb.co/VmXYvcc/obraz-2022-04-11-100240859.png");
}
.Rozrywkowe::before {
	display: inline-block;
	content: "";
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url("https://i.ibb.co/59GqRvs/obraz-2022-04-11-100010968.png");
}
.kategoria1::after {
	filter: drop-shadow(1px 1px 1px #222);
	position: absolute;
	top: 0;
	left: 25px;
	content: "";
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	/* background-image: url('mapbox-icon.png'); */
	background-image: url("https://i.ibb.co/59GqRvs/obraz-2022-04-11-100010968.png");
}

.kategoria2::after {
	filter: drop-shadow(1px 1px 1px #222);
	position: absolute;
	top: 0;
	left: 25px;
	content: "";
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	/* background-image: url('mapbox-icon.png'); */
	background-image: url("https://i.ibb.co/VmXYvcc/obraz-2022-04-11-100240859.png");
}

.kategoria3::after {
	filter: drop-shadow(1px 1px 1px #222);
	position: absolute;
	top: 0;
	left: 25px;
	content: "";
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	/* background-image: url('mapbox-icon.png'); */
	background-image: url("https://i.ibb.co/Cb3TP27/obraz-2022-04-11-100333453.png");
	/* background-image: url('mapbox-icon.png'); */
}
.mapboxgl-ctrl-logo {
    /*display: none !important;*/
    /*usuwanie loga jest jednak nielegalne bez wykupionej licencji*/
}
.mapboxgl-popup {
	max-width: 200px;
	max-height: 200px;
}
.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.sidenav {
    background-color: #fff;
    width: 26vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0;
    padding: 3vh 3vw 3vh 3vw;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidenav_left {
    display: flex;
	flex-direction: column;
}

#descriptionDiv {
	margin-bottom: .8vh;
	border-bottom: 1px solid rgb(194, 192, 192);
}
.sidenav_right {
    right: -30vw;
	transition: right .5s ease;
}

.sidenav_right img {
    width: 26vw;
	height: auto;
    margin: -3vh -3vw 2vh -3vw;
}

.sidenav_right h3 {
    display: inline-block;
	margin-bottom: 3vh;
}

#login_container {
	height: auto;
	margin-bottom: 0;
	width: 100%;
	margin-top: auto;
	text-align: right;
}

.active {
	right: 0 !important;
}

#login_container button {
	width: 69% !important;
}
#login_container .wyloguj {
	width: 29% !important;
}

form button {
	width: 49% !important;
}

.left-list-element {
	text-align: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	width: 100%;
    padding: 1vh 1vw 1vh 1vw;
	border: none;
	border-bottom: 1px solid rgb(136, 136, 136);
	background: none;
}

.sort {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	margin-bottom: 1vh
}

.sort a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.589);
}

#sidenav_title {
	margin-bottom: 2vh;
}
.left-list-element span {
	margin-left: auto;
	float: right;
}

